---
layout: default
---
{% include carousel.html %}
<div class="content">
	<!-- product list-->
	<div class="service-list">
		<div class="container">
			<h4>产品列表</h4>
			<div class="service-grids">
				<div class="col-md-4 ser-list">
					{% include category-mom-kids.html %}
					{% include category-cosmetic.html %}
					{% include category-nutrition.html %}
					{% include category-electronics.html %}
					{% include category-bag-clothing.html %}
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- end product list-->
	
    <!--welcome-->
    <div class="service-list">
        <div class="container">
			<h4>代购请加微信TJFLY，请备注介绍人。</h4>
		</div>
    </div>
    <!--end welcome-->
</div>
