<!--desinger-->
<div class="designer">
	<div class="container">
		<h3>热销产品</h3>
		<div class="designer-grids">
			{% for h in site.data.currenthot %}
			{% if h.url contains '//' %} {% else %}
			<div class="col-md-3 designer-grid">
				<a href="{{ h.link }}">
					<img src="/images/currenthot/{{ h.url }}" class="img-responsive">
<!-- 					{% if h.link contains 'html' %} {% else %}
	 				<div class="designer-info">
						<h4>微信联系atjfly</h4>
					</div>
					{% endif %}
 -->					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisc elit. Proin ultricies vestibulum velit.</p> -->
				</a>	
			</div>
			{% endif %}
			{% endfor %}
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--desinger-->
