<!--header-->
<div class="header">
    <div class="container">
        <div class="header-top">
            <div class="logo">
                <a href="/index.html">风之城<span>美国代购</span></a>
            </div>
            <div class="top-menu">
                <span class="menu"><img src="/images/nav.png" alt="" /> </span>
                <ul>
                    <li><a href="index.html">主页</a></li>
<!--                    <li><a href="health-product.html">营养保健品</a></li>
                    <li><a href="about.html">about</a></li>
                    <li><a href="services.html">services</a></li>
                    <li><a href="Models.html">Models</a></li>
                    <li><a href="typo.html">typo</a></li>
                    <li><a href="contact.html">contact</a></li>
 -->                </ul>
            </div>
            <!--script-nav-->
            <script>
                $("span.menu").click(function () {
                    $(".top-menu ul").slideToggle("slow", function () {
                    });
                });
            </script>
            <div class="clerfix"></div>
        </div>
    </div>
</div>
<!--header-->
<!--gallery-cursual-->
<div class="gallery-cursual">
    <!-- requried-jsfiles-for owl -->
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <script src="/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                items: 4,
                lazyLoad: true,
                autoPlay: true,
                pagination: false,
            });
        });
    </script>
    <!-- //requried-jsfiles-for owl -->
    <!-- start content_slider -->
<!--     <div id="owl-demo" class="owl-carousel text-center">
        <div class="item">
            <a href="/about.html">
                <img class="lazyOwl" data-src="/images/trunature-lutein-140caps.jpg" alt="name">
            </a>
        </div>
        <div class="item">
            <img class="lazyOwl" data-src="/images/align-probiotic-supplement-63caps.png" alt="name">
        </div>
        <div class="item">
            <img class="lazyOwl" data-src="/images/culturelle-adult-80caps.jpg" alt="name">
        </div>
        <div class="item">
            <img class="lazyOwl" data-src="/images/culturelle-kids-chewables-60caps-2pack.jpg" alt="name">
        </div>
        <div class="item">
            <img class="lazyOwl" data-src="/images/schiff-melatonin-ultra-3mg.jpg" alt="name">
        </div>
        <div class="item">
            <img class="lazyOwl" data-src="/images/nm-coq10-200mg.jpg" alt="name">
        </div>
        <div class="item">
            <img class="lazyOwl" data-src="/images/b7.jpg" alt="name">
        </div>
        <div class="item">
            <img class="lazyOwl" data-src="/images/b1.jpg" alt="name">
        </div>
        <div class="item">
            <img class="lazyOwl" data-src="/images/b2.jpg" alt="name">
        </div>
        <div class="item">
            <img class="lazyOwl" data-src="/images/b3.jpg" alt="name">
        </div>
    </div>
 -->    <!--//sreen-gallery-cursual---->
</div>
<!--gallery-cursual-->
