<!--header-->
<div class="header">
    <div class="container">
        <div class="header-top">
            <div class="logo">
                <a href="/index.html">风之城<span>美国代购</span></a>
            </div>
            <div class="top-menu">
                <span class="menu"><img src="/images/nav.png" alt="" /> </span>
                <ul>
                    <li><a href="/index.html">主页</a></li>
                    <li><a href="/html/2015-09-17-nike-shoes.html">耐克鞋</a></li>
                    <li><a href="/html/mia2.html">洗脸神器MIA2</a></li>
                    <li><a href="/html/waterpik-wp130-wp305.html">套装水牙线</a></li>
                    <li><a href="/html/2015-09-EL-SET.html">雅诗兰黛超值套装</a></li>
<!--                    <li><a href="typo.html">typo</a></li>
                    <li><a href="contact.html">contact</a></li>
 -->                </ul>
            </div>
            <!--script-nav-->
            <script>
                $("span.menu").click(function () {
                    $(".top-menu ul").slideToggle("slow", function () {
                    });
                });
            </script>
            <div class="clerfix"></div>
        </div>
    </div>
</div>
<!--header-->