<!--header-->
<div class="header">
    <div class="container">
        <div class="header-top">
            <div class="logo">
                <a href="index.html">风之城<span>美国代购</span></a>
            </div>
            <div class="top-menu">
                <span class="menu"><img src="/images/nav.png" alt="" /> </span>
                <ul>
                    <li><a href="index.html">主页</a></li>
                    <li><a href="health-product.html">营养保健品</a></li>
                    <li><a href="about.html">about</a></li>
                    <li><a href="services.html">services</a></li>
                    <li><a href="Models.html">Models</a></li>
                    <li><a href="typo.html">typo</a></li>
                    <li><a href="contact.html">contact</a></li>
                </ul>
            </div>
            <!--script-nav-->
            <script>
                $("span.menu").click(function () {
                    $(".top-menu ul").slideToggle("slow", function () {
                    });
                });
            </script>
            <div class="clerfix"></div>
        </div>
    </div>
</div>
<!--header-->
