---
layout: default
product: 洗脸神器Mia2，目前有白色和粉色，￥860
images: /images/mia2/mia2.1.jpg, /images/mia2/mia2.2.jpg,/images/mia2/mia2.3.jpg,/images/mia2/mia2.4.jpg,
desc: Clarisonic科莱丽声波深彻洗脸器采用每秒超过300次的摇摆性振荡，深彻且温和地清洁皮肤，展现出6倍于手工肌肤功效。令后续护肤品更易被皮肤吸收。持续使用可改善毛孔粗大，抚平细纹及皱纹，调整肤色，令皮肤更加光滑、透亮。包装简洁，功能强大的Mia 2代在保留了Clarisonic科莱丽独有的清洁功效同时实现了更加小巧时尚的外形，易于旅行或健身携带，将方便性与高效清洁性能完美结合。||产品包含：科莱丽Mia2声波深彻洗脸器（灵巧型/仅限于面部肌肤），科莱丽Mia2专用全球通用P-Link充电器，敏感型刷头，洁面啫喱30ml，旅行保护套。||产品技术：超越各类传统皮肤清洁方式，对于去除藏于皮肤毛孔的污垢和皮脂，Clarisonic科莱丽声波深彻洗脸系统专利技术以每秒超过300次的音速微振按摩在温和的方式下展现出6倍于传统手洗清洁功效。Clarisonic科莱丽声波摇摆振荡技术以温和摇摆方式与肌肤天然弹性相结合，在深入清除油脂及污垢的同时，将摩擦降至最低，保护肌肤胶原蛋白。||如何使用：卸妆后，将洁面乳均匀涂抹在湿润的皮肤或湿润的刷头上，按下电源键，打开声波洗脸器后，选择适宜的速度。（一共两档：低速+普通），按T-TIMER提示操作，用刷头轻柔地在脸上打小圆圈。（前额20秒，鼻/下颚20秒，左右脸颊各10秒）洗脸仪会在洁肤后自动关闭。最后将多余的洁面乳用水冲洗干净就可以了。||其他特点：1.全身防水设计，可以放在淋浴房洗澡的时候使用。2.拿到后需要进行第一次充电，要充24小时，之后每次充满大概需要18小时。充电的时候是一闪一闪的，充满就不闪了，长亮的。另外没充满时拿掉充电器的话，机子会震一下，充满的话是震两下的。

---
<div class="news">
    <div class="container">
        <h3>{{page.product}}</h3><hr/>
        <div class="new-grids">
		{% assign ims = page.images | split:',' %}{% for im in ims %}<div class="col-md-4 view"><a href="{{ im }}" data-lightbox="s" data-title=""><img src="{{ im }}" class="img-responsive" alt=""/></a></div>{% endfor %}<div class="clearfix"> </div>
        </div>
    </div>
</div>

<div class="news">
	<div class="container">
	{% assign ds = page.desc | split:'||' %}{% for d in ds %}<h4>{{ d }}</h4><hr/>{% endfor %}
	</div>
</div>
